In [1]:
import pandas as pd
df = pd.read_csv('J2_VIIRS_C2_Global_24h.csv')

In [2]:
df

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,-8.70213,32.91401,300.09,0.68,0.74,2025-11-05,0,N21,nominal,2.0NRT,288.05,0.86,N
1,-9.35062,33.31810,307.29,0.74,0.76,2025-11-05,0,N21,nominal,2.0NRT,286.40,2.72,N
2,-9.35007,33.32026,313.89,0.74,0.76,2025-11-05,0,N21,nominal,2.0NRT,286.17,3.26,N
3,-9.44605,33.53249,296.89,0.77,0.77,2025-11-05,0,N21,nominal,2.0NRT,284.24,2.90,N
4,-6.13009,10.84659,302.11,0.41,0.60,2025-11-05,0,N21,nominal,2.0NRT,280.33,3.79,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76688,67.81827,72.50193,322.29,0.56,0.43,2025-11-06,2258,N21,nominal,2.0NRT,257.71,4.39,N
76689,65.82410,76.85852,330.10,0.56,0.51,2025-11-06,2258,N21,nominal,2.0NRT,260.59,4.87,N
76690,69.26637,57.28044,325.62,0.39,0.36,2025-11-06,2301,N21,nominal,2.0NRT,275.13,4.05,N
76691,66.19705,70.99104,336.97,0.40,0.44,2025-11-06,2301,N21,nominal,2.0NRT,259.15,5.85,N
76692,68.58479,58.04895,327.38,0.39,0.36,2025-11-06,2301,N21,nominal,2.0NRT,258.94,9.55,N